/* 

.body{

width:600px ;
height: 500px;
border: 5px red solid;
margin-left: auto;
margin-right:auto;
overflow: hidden;


}

.heading{
    text-align: center;
}

.img1{
    float: left;
    margin: 20px;

}

.pera1{
     font-size: larger;
     font-family: Arial, Helvetica, sans-serif;
}


.pera2{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}


.pera3{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.img2{
         float: right;
         margin: 20px;
} */



.nj{
    width: 200px;
    height: 300px;
    margin-left: auto ;
    margin-right: auto;
    border: 2px red solid;
    background-color: blue;
    overflow: scroll;

}
