
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container1{
    height: 120px;
    background-color:#e0ebe8;
    display: flex;
    flex-wrap :wrap; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* border: #45b29a 2px dotted; */
    align-content:start;
    
    
}

.cloud{
    margin-top: 40px;
    width: 200px;
}

.profile{
    width: 100px;
    height: 100px;
    margin-left:150px;
    margin-top:10px;
    border: 2px black solid;
    border-radius: 100%;
    
}

.table{
    
    font-size:larger;
    font-family:cursive;
    margin-right:100px;
   
}

.about{
    margin-right: 30px;
    color: #45b29a;
    text-decoration: none;

}
.work{
    margin-right: 30px;
    color: #45b29a;
    text-decoration: none;
    
}
.notes{
    margin-right: 30px;
    color: #45b29a;
    text-decoration: none;
}
.container2{
    background-color: #e0ebe8;
    height: 535px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.text{
    margin-top:100px;
}
.name{
    color: #45b29a;
    font-family: cursive;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.tital{
    color: #45b29a;
    font-family:sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mountain{
    margin-top: 94px;
    transform: rotate(-2deg)
}

.container3{
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: center;

}

.profile2{
    width: 180px;
    height: 200px;
  margin-top: 60px;
 
}

.Container4{
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    
}

.hi{
    font-size: 2em;
    font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #45b29a;
}

.pera1{
    margin-top: 10px;
    font-size:larger;
    font-family:adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif ;
    font-size: 1.5em;
}





